header
    #nav-buttons
        ul.main-nav
            - var titles = ['Home', 'Users', 'Registration', 'Teams', 'Contacts']
            each title in titles
                li
                    if title == 'Users'
                        a.nav_users(href='/#') #{title}
                    else
                        a(href='/#') #{title}
        a.mobile-menu-icon
            img.menu-icon(src='src/img/menu_icon.png' alt='Menu Icon' width='45' height='45')